{{partial "header.html" .}}
<h1><a href="/">{{ .Site.Title }}</a></h1>
<p>
	<a target="_blank" href="https://golang.org/">Go</a> is a <a target="_blank" href="http://www.tiobe.com/tiobe-index/">rapidly growing</a> open source programming language designed for building simple, fast, and reliable software.
	Take a look <a target="_blank" href="https://github.com/golang/go/wiki/GoUsers">here</a> which great companies use Go to power their services.
</p>
<p>
	<i>GopherBOOk</i>
	  provides easy to understand code snippets on how to get started with web development in the Go programming language using Iris web framework.
	  Check out the {{with index .Pages 0}}<a href="{{.URL}}">first example</a>{{end}} on how to create a classical "hello world" web application.
</p>

<p>&nbsp;</p>
<p>
	{{ range .Pages }}
	<a href="{{.URL}}">{{.Title}}</a><br />
	{{ end }}
</p>
<p>
	<h3 id="fav" style="cursor:pointer !important;"> +1 new chapter every day throughout the February</h3>
</p>

{{partial "footer.html" .}}

<script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        $('#fav').click(function() {
            if (window.sidebar && window.sidebar.addPanel) { // Mozilla Firefox Bookmark
                window.sidebar.addPanel(document.title,window.location.href,'');
            } else if(window.external && ('AddFavorite' in window.external)) { // IE Favorite
                window.external.AddFavorite(location.href,document.title);
            } else if(window.opera && window.print) { // Opera Hotlist
                this.title=document.title;
                return true;
            } else { // webkit - safari/chrome
                alert('Press ' + (navigator.userAgent.toLowerCase().indexOf('mac') != - 1 ? 'Command/Cmd' : 'CTRL') + ' + D to bookmark this page.');
            }
        });
    });
</script>
